@import '@/utilities/design-utilities/sass-variables';

.details {
  max-width: 500px;
  font-size: 0.8em;
  padding: 10px;

  .borderBottom {
    width: 100%;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    display: flex;
  }

  .detailsIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .detailsIcon {
    max-width: 48px;
  }

  .detailsTable {
    flex: 3;
    display: flex;
    flex-direction: column;

    .cell {
      border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
      padding: 4px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .cell:nth-child(even) {
      padding-left: 0;
      padding-right: 0;
    }

    .noBorders {
      border: none;
    }
  }

  .detailsReport {
    font-size: 12px;
    div {
      padding: 5px 0;
    }

    div:first-child {
      padding-top: 18px;
    }
    div:last-child {
      padding-bottom: 18px;
    }
  }

  @media (min-width: $smBreakPoint) {
    font-size: 1em;

    .detailsIcon {
      max-width: 64px;
    }
  }
}


