@import '@/utilities/design-utilities/sass-variables';

.sunMoon {
  max-width: 500px;
  position: relative;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;


  .tableContainer {
    font-size: 0.8rem;
    padding-top: 24px;
  }

  @media only screen and (min-width: $xsBreakPoint) {
    flex-direction: row;
  }
}
