.windGenContainer {
  position: relative;

  .blade {
    width: 60px;
    position: relative;
  }

  .pole {
    position: relative;
    width: 9px;
    top: 34px;
    left: -35px;
  }

  .rotate{
    animation: loading 3s linear infinite;
  }

  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.small {

    .blade {
      width: 35px;
    }

    .pole {
      position: relative;
      width: 6px;
      top: 20px;
      left: -20px;
    }
  }

}
