.gadgetContainer{
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  height: fit-content;

  .header {
    border-bottom: solid 1px #ffffff;
    font-size: 16px;
    width: 100%;
    height: fit-content;
    clear: both;
  }

  .content {
    width: 100%;
    height: fit-content;
    padding: 5px;
  }
}
